# Mais sobre `SELECT`

- temporary tables
- views
- variables
- subqueries

In [1]:
from functools import partial
from dotenv import load_dotenv
import insperautograder.jupyter as ia
import mysql.connector
import os

load_dotenv(override=True)

connection = mysql.connector.connect(
    host=os.getenv("MD_DB_SERVER"),
    user=os.getenv("MD_DB_USERNAME"),
    password=os.getenv("MD_DB_PASSWORD"),
    database="sakila"
)

def run_db_query(connection, query, args=None):
    with connection.cursor() as cursor:
        print("Executando query:")
        cursor.execute(query, args)
        for result in cursor:
            print(result)

db = partial(run_db_query, connection)

## Exercícios para entrega

Esta aula tem atividade para entrega, confira os prazos e exercícios

In [2]:
ia.tasks()

|    | Atividade    | De                        | Até                       |
|---:|:-------------|:--------------------------|:--------------------------|
|  0 | newborn      | 2024-02-01 03:00:00+00:00 | 2024-05-30 03:00:00+00:00 |
|  1 | select01     | 2024-02-08 03:00:00+00:00 | 2024-02-19 02:59:59+00:00 |
|  2 | ddl          | 2024-02-22 03:00:00+00:00 | 2024-02-27 02:59:59+00:00 |
|  3 | dml          | 2024-02-26 03:00:00+00:00 | 2024-03-03 02:59:59+00:00 |
|  4 | views        | 2024-02-29 03:00:00+00:00 | 2024-03-16 02:59:59+00:00 |
|  5 | group_having | 2024-02-29 03:00:00+00:00 | 2024-03-08 03:00:00+00:00 |
|  6 | agg_join     | 2024-02-29 03:00:00+00:00 | 2024-03-05 02:59:59+00:00 |

In [3]:
ia.grades(by="task")

|    | Tarefa       |   Nota |
|---:|:-------------|-------:|
|  0 | agg_join     |   10   |
|  1 | ddl          |   10   |
|  2 | dml          |    0   |
|  3 | group_having |    0   |
|  4 | newborn      |   10   |
|  5 | select01     |   10   |
|  6 | views        |    2.5 |

In [4]:
ia.grades(task="views")

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | views       | ex01        |      1 |     10 |
|  1 | views       | ex02        |      1 |     10 |
|  2 | views       | ex03        |      1 |     10 |
|  3 | views       | ex04        |      1 |      0 |
|  4 | views       | ex05        |      1 |      0 |
|  5 | views       | ex06        |      1 |      0 |
|  6 | views       | ex07        |      1 |      0 |
|  7 | views       | ex08        |      1 |      0 |
|  8 | views       | ex09        |      1 |      0 |
|  9 | views       | ex10        |      1 |      0 |
| 10 | views       | ex11        |      1 |      0 |
| 11 | views       | ex12        |      1 |      0 |

## Aquecimento

Quanta receita foi gerada para cada categoria de filmes? Mostre o nome da categoria e a receita. Ordene da maior receita para para a menor.

In [5]:
sql_ex01 = """
SELECT category.name AS Categoria, 
SUM(payment.amount) AS Receita
FROM category
JOIN film_category ON category.category_id = film_category.category_id
JOIN film ON film_category.film_id = film.film_id
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY category.name
ORDER BY Receita DESC;
"""


db(sql_ex01)

Executando query:
('Sports', Decimal('5314.21'))
('Sci-Fi', Decimal('4756.98'))
('Animation', Decimal('4656.30'))
('Drama', Decimal('4587.39'))
('Comedy', Decimal('4383.58'))
('Action', Decimal('4375.85'))
('New', Decimal('4351.62'))
('Games', Decimal('4281.33'))
('Foreign', Decimal('4270.67'))
('Family', Decimal('4226.07'))
('Documentary', Decimal('4217.52'))
('Horror', Decimal('3722.54'))
('Children', Decimal('3655.55'))
('Classics', Decimal('3639.59'))
('Travel', Decimal('3549.64'))
('Music', Decimal('3417.72'))

In [6]:
ia.sender(answer="sql_ex01", task="views", question="ex01", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex01', style=ButtonStyle()), Output()), _dom_classes=('widget…

Liste os 10 filmes mais alugados e o numero de vezes em que foram alugados. Ordene do mais alugado para o menos alugado.

In [7]:
sql_ex02 = """
SELECT film.title AS Titulo, 
COUNT(rental.rental_id) AS Numero_de_Alugueis
FROM film
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
GROUP BY film.title
ORDER BY Numero_de_Alugueis DESC
LIMIT 10;

"""

db(sql_ex02)

Executando query:
('BUCKET BROTHERHOOD', 34)
('ROCKETEER MOTHER', 33)
('RIDGEMONT SUBMARINE', 32)
('GRIT CLOCKWORK', 32)
('SCALAWAG DUCK', 32)
('JUGGLER HARDLY', 32)
('FORWARD TEMPLE', 32)
('HOBBIT ALIEN', 31)
('ROBBERS JOON', 31)
('ZORRO ARK', 31)

In [8]:
ia.sender(answer="sql_ex02", task="views", question="ex02", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex02', style=ButtonStyle()), Output()), _dom_classes=('widget…

**DESAFIO:** Liste os filmes e o numero de vezes em que foram alugados apenas para filmes que foram alugados mais do que a média de numero de alugueis por filme. *Dica*: Serão necessários múltiplos SELECTs. Faça cada um em uma célula diferente.

In [9]:
db("""
SELECT AVG(alugueis_por_filme.Numero_de_Alugueis) AS Media_De_Alugueis
FROM (
    SELECT COUNT(rental.rental_id) AS Numero_de_Alugueis
    FROM rental
    JOIN inventory ON rental.inventory_id = inventory.inventory_id
    GROUP BY inventory.film_id
) AS alugueis_por_filme;
""")
db("""
SELECT film.film_id, film.title AS Titulo, 
COUNT(rental.rental_id) AS Numero_de_Alugueis
FROM film
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
GROUP BY film.film_id, film.title;

""")
db("""
SELECT f.title AS Titulo, 
COUNT(r.rental_id) AS Numero_de_Alugueis
FROM film f
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
GROUP BY f.title
HAVING COUNT(r.rental_id) > (
    SELECT AVG(alugueis_por_filme.Numero_de_Alugueis) AS Media_De_Alugueis
    FROM (
        SELECT COUNT(rental.rental_id) AS Numero_de_Alugueis
        FROM rental
        JOIN inventory ON rental.inventory_id = inventory.inventory_id
        GROUP BY inventory.film_id
    ) AS alugueis_por_filme
)
ORDER BY Numero_de_Alugueis DESC;

""")

Executando query:
(Decimal('16.7474'),)
Executando query:
(1, 'ACADEMY DINOSAUR', 23)
(2, 'ACE GOLDFINGER', 7)
(3, 'ADAPTATION HOLES', 12)
(4, 'AFFAIR PREJUDICE', 23)
(5, 'AFRICAN EGG', 12)
(6, 'AGENT TRUMAN', 21)
(7, 'AIRPLANE SIERRA', 15)
(8, 'AIRPORT POLLOCK', 18)
(9, 'ALABAMA DEVIL', 12)
(10, 'ALADDIN CALENDAR', 23)
(11, 'ALAMO VIDEOTAPE', 24)
(12, 'ALASKA PHANTOM', 26)
(13, 'ALI FOREVER', 9)
(15, 'ALIEN CENTER', 22)
(16, 'ALLEY EVOLUTION', 14)
(17, 'ALONE TRIP', 18)
(18, 'ALTER VICTORY', 22)
(19, 'AMADEUS HOLY', 21)
(20, 'AMELIE HELLFIGHTERS', 10)
(21, 'AMERICAN CIRCUS', 22)
(22, 'AMISTAD MIDSUMMER', 21)
(23, 'ANACONDA CONFESSIONS', 21)
(24, 'ANALYZE HOOSIERS', 14)
(25, 'ANGELS LIFE', 22)
(26, 'ANNIE IDENTITY', 22)
(27, 'ANONYMOUS HUMAN', 13)
(28, 'ANTHEM LUKE', 15)
(29, 'ANTITRUST TOMATOES', 10)
(30, 'ANYTHING SAVANNAH', 9)
(31, 'APACHE DIVINE', 31)
(32, 'APOCALYPSE FLAMINGOS', 6)
(34, 'ARABIA DOGMA', 13)
(35, 'ARACHNOPHOBIA ROLLERCOASTER', 24)
(37, 'ARIZONA BANG', 21)
(39, 'ARMAGEDDON LOST', 21)
(40, 'ARMY FLINTSTONES', 16)
(42, 'ARTIST COLDBLOODED', 16)
(43, 'ATLANTIS CAUSE', 24)
(44, 'ATTACKS HATE', 16)
(45, 'ATTRACTION NEWTON', 24)
(46, 'AUTUMN CROW', 11)
(47, 'BABY HALL', 8)
(48, 'BACKLASH UNDEFEATED', 19)
(49, 'BADMAN DAWN', 21)
(50, 'BAKED CLEOPATRA', 16)
(51, 'BALLOON HOMEWARD', 23)
(52, 'BALLROOM MOCKINGBIRD', 8)
(53, 'BANG KWAI', 7)
(54, 'BANGER PINOCCHIO', 22)
(55, 'BARBARELLA STREETCAR', 25)
(56, 'BAREFOOT MANCHURIAN', 18)
(57, 'BASIC EASY', 21)
(58, 'BEACH HEARTBREAKERS', 17)
(59, 'BEAR GRACELAND', 22)
(60, 'BEAST HUNCHBACK', 11)
(61, 'BEAUTY GREASE', 22)
(62, 'BED HIGHBALL', 6)
(63, 'BEDAZZLED MARRIED', 13)
(64, 'BEETHOVEN EXORCIST', 11)
(65, 'BEHAVIOR RUNAWAY', 13)
(66, 'BENEATH RUSH', 10)
(67, 'BERETS AGENT', 21)
(68, 'BETRAYED REAR', 15)
(69, 'BEVERLY OUTLAW', 21)
(70, 'BIKINI BORROWERS', 17)
(71, 'BILKO ANONYMOUS', 13)
(72, 'BILL OTHERS', 19)
(73, 'BINGO TALENTED', 29)
(74, 'BIRCH ANTITRUST', 11)
(75, 'BIRD INDEPENDENCE', 11)
(76, 'BIRDCAGE CASPER', 9)
(77, 'BIRDS PERDITION', 18)
(78, 'BLACKOUT PRIVATE', 27)
(79, 'BLADE POLISH', 22)
(80, 'BLANKET BEVERLY', 12)
(81, 'BLINDNESS GUN', 14)
(82, 'BLOOD ARGONAUTS', 10)
(83, 'BLUES INSTINCT', 21)
(84, 'BOILED DARES', 15)
(85, 'BONNIE HOLOCAUST', 16)
(86, 'BOOGIE AMELIE', 29)
(88, 'BORN SPINAL', 12)
(89, 'BORROWERS BEDAZZLED', 22)
(90, 'BOULEVARD MOB', 18)
(91, 'BOUND CHEAPER', 24)
(92, 'BOWFINGER GABLES', 11)
(93, 'BRANNIGAN SUNRISE', 12)
(94, 'BRAVEHEART HUMAN', 5)
(95, 'BREAKFAST GOLDFINGER', 17)
(96, 'BREAKING HOME', 13)
(97, 'BRIDE INTRIGUE', 19)
(98, 'BRIGHT ENCOUNTERS', 13)
(99, 'BRINGING HYSTERICAL', 20)
(100, 'BROOKLYN DESERT', 21)
(101, 'BROTHERHOOD BLANKET', 26)
(102, 'BUBBLE GROSSE', 6)
(103, 'BUCKET BROTHERHOOD', 34)
(104, 'BUGSY SONG', 11)
(105, 'BULL SHAWSHANK', 16)
(106, 'BULWORTH COMMANDMENTS', 7)
(107, 'BUNCH MINDS', 5)
(109, 'BUTTERFLY CHOCOLAT', 30)
(110, 'CABIN FLASH', 15)
(111, 'CADDYSHACK JEDI', 16)
(112, 'CALENDAR GUNFIGHT', 21)
(113, 'CALIFORNIA BIRDS', 12)
(114, 'CAMELOT VACATION', 27)
(115, 'CAMPUS REMEMBER', 19)
(116, 'CANDIDATE PERDITION', 18)
(117, 'CANDLES GRAPES', 23)
(118, 'CANYON STOCK', 19)
(119, 'CAPER MOTIONS', 24)
(120, 'CARIBBEAN LIBERTY', 9)
(121, 'CAROL TEXAS', 18)
(122, 'CARRIE BUNCH', 23)
(123, 'CASABLANCA SUPER', 16)
(124, 'CASPER DRAGONFLY', 8)
(125, 'CASSIDY WYOMING', 6)
(126, 'CASUALTIES ENCINO', 9)
(127, 'CAT CONEHEADS', 30)
(129, 'CAUSE DATE', 21)
(130, 'CELEBRITY HORN', 24)
(131, 'CENTER DINOSAUR', 24)
(132, 'CHAINSAW UPTOWN', 21)
(133, 'CHAMBER ITALIAN', 13)
(134, 'CHAMPION FLATLINERS', 13)
(135, 'CHANCE RESURRECTION', 27)
(136, 'CHAPLIN LICENSE', 8)
(137, 'CHARADE DUFFEL', 15)
(138, 'CHARIOTS CONSPIRACY', 21)
(139, 'CHASING FIGHT', 20)
(140, 'CHEAPER CLYDE', 20)
(141, 'CHICAGO NORTH', 16)
(142, 'CHICKEN HELLFIGHTERS', 22)
(143, 'CHILL LUCK', 22)
(145, 'CHISUM BEHAVIOR', 13)
(146, 'CHITTY LOCK', 8)
(147, 'CHOCOLAT HARRY', 20)
(149, 'CHRISTMAS MOONSHINE', 21)
(150, 'CIDER DESIRE', 19)
(151, 'CINCINATTI WHISPERER', 13)
(152, 'CIRCUS YOUTH', 15)
(153, 'CITIZEN SHREK', 13)
(154, 'CLASH FREDDY', 25)
(155, 'CLEOPATRA DEVIL', 18)
(156, 'CLERKS ANGELS', 7)
(157, 'CLOCKWORK PARADISE', 10)
(158, 'CLONES PINOCCHIO', 19)
(159, 'CLOSER BANG', 28)
(160, 'CLUB GRAFFITI', 19)
(161, 'CLUE GRAIL', 7)
(162, 'CLUELESS BUCKET', 25)
(163, 'CLYDE THEORY', 8)
(164, 'COAST RAINBOW', 21)
(165, 'COLDBLOODED DARLING', 16)
(166, 'COLOR PHILADELPHIA', 24)
(167, 'COMA HEAD', 26)
(168, 'COMANCHEROS ENEMY', 6)
(169, 'COMFORTS RUSH', 17)
(170, 'COMMAND DARLING', 16)
(172, 'CONEHEADS SMOOCHY', 25)
(173, 'CONFESSIONS MAGUIRE', 14)
(174, 'CONFIDENTIAL INTERVIEW', 29)
(175, 'CONFUSED CANDLES', 17)
(176, 'CONGENIALITY QUEST', 22)
(177, 'CONNECTICUT TRAMP', 13)
(178, 'CONNECTION MICROCOSMOS', 7)
(179, 'CONQUERER NUTS', 16)
(180, 'CONSPIRACY SPIRIT', 5)
(181, 'CONTACT ANONYMOUS', 26)
(182, 'CONTROL ANTHEM', 7)
(183, 'CONVERSATION DOWNHILL', 17)
(184, 'CORE SUIT', 18)
(185, 'COWBOY DOOM', 7)
(186, 'CRAFT OUTFIELD', 16)
(187, 'CRANES RESERVOIR', 11)
(188, 'CRAZY HOME', 9)
(189, 'CREATURES SHAKESPEARE', 16)
(190, 'CREEPERS KANE', 14)
(191, 'CROOKED FROGMEN', 23)
(193, 'CROSSROADS CASUALTIES', 21)
(194, 'CROW GREASE', 12)
(196, 'CRUELTY UNFORGIVEN', 7)
(197, 'CRUSADE HONEY', 8)
(199, 'CUPBOARD SINNERS', 23)
(200, 'CURTAIN VIDEOTAPE', 27)
(201, 'CYCLONE FAMILY', 15)
(202, 'DADDY PITTSBURGH', 13)
(203, 'DAISY MENAGERIE', 16)
(204, 'DALMATIONS SWEDEN', 20)
(205, 'DANCES NONE', 14)
(206, 'DANCING FEVER', 27)
(207, 'DANGEROUS UPTOWN', 12)
(208, 'DARES PLUTO', 9)
(209, 'DARKNESS WAR', 13)
(210, 'DARKO DORADO', 11)
(211, 'DARLING BREAKING', 9)
(212, 'DARN FORRESTER', 18)
(213, 'DATE SPEED', 13)
(214, 'DAUGHTER MADIGAN', 9)
(215, 'DAWN POND', 18)
(216, 'DAY UNFAITHFUL', 14)
(218, 'DECEIVER BETRAYED', 21)
(219, 'DEEP CRUSADE', 14)
(220, 'DEER VIRGINIAN', 29)
(222, 'DESERT POSEIDON', 19)
(223, 'DESIRE ALIEN', 8)
(224, 'DESPERATE TRAINSPOTTING', 6)
(225, 'DESTINATION JERK', 8)
(226, 'DESTINY SATURDAY', 16)
(227, 'DETAILS PACKER', 19)
(228, 'DETECTIVE VISION', 27)
(229, 'DEVIL DESIRE', 15)
(230, 'DIARY PANIC', 9)
(231, 'DINOSAUR SECRETARY', 20)
(232, 'DIRTY ACE', 15)
(233, 'DISCIPLE MOTHER', 19)
(234, 'DISTURBING SCARFACE', 26)
(235, 'DIVIDE MONSTER', 21)
(236, 'DIVINE RESURRECTION', 15)
(237, 'DIVORCE SHINING', 7)
(238, 'DOCTOR GRAIL', 7)
(239, 'DOGMA FAMILY', 30)
(240, 'DOLLS RAGE', 9)
(241, 'DONNIE ALLEY', 14)
(242, 'DOOM DANCING', 21)
(243, 'DOORS PRESIDENT', 19)
(244, 'DORADO NOTTING', 27)
(245, 'DOUBLE WRATH', 25)
(246, 'DOUBTFIRE LABYRINTH', 10)
(247, 'DOWNHILL ENOUGH', 25)
(248, 'DOZEN LION', 7)
(249, 'DRACULA CRYSTAL', 21)
(250, 'DRAGON SQUAD', 11)
(251, 'DRAGONFLY STRANGERS', 18)
(252, 'DREAM PICKUP', 22)
(253, 'DRIFTER COMMANDMENTS', 24)
(254, 'DRIVER ANNIE', 18)
(255, 'DRIVING POLISH', 21)
(256, 'DROP WATERFRONT', 9)
(257, 'DRUMLINE CYCLONE', 11)
(258, 'DRUMS DYNAMITE', 13)
(259, 'DUCK RACER', 6)
(260, 'DUDE BLINDNESS', 16)
(261, 'DUFFEL APOCALYPSE', 7)
(262, 'DUMBO LUST', 6)
(263, 'DURHAM PANKY', 26)
(264, 'DWARFS ALTER', 9)
(265, 'DYING MAKER', 17)
(266, 'DYNAMITE TARZAN', 25)
(267, 'EAGLES PANKY', 22)
(268, 'EARLY HOME', 7)
(269, 'EARRING INSTINCT', 19)
(270, 'EARTH VISION', 23)
(271, 'EASY GLADIATOR', 23)
(272, 'EDGE KISSING', 15)
(273, 'EFFECT GLADIATOR', 25)
(274, 'EGG IGBY', 21)
(275, 'EGYPT TENENBAUMS', 17)
(276, 'ELEMENT FREDDY', 10)
(277, 'ELEPHANT TROJAN', 14)
(278, 'ELF MURDER', 7)
(279, 'ELIZABETH SHANE', 10)
(280, 'EMPIRE MALKOVICH', 21)
(281, 'ENCINO ELF', 19)
(282, 'ENCOUNTERS CURTAIN', 19)
(283, 'ENDING CROWDS', 11)
(284, 'ENEMY ODDS', 29)
(285, 'ENGLISH BULWORTH', 30)
(286, 'ENOUGH RAGING', 18)
(287, 'ENTRAPMENT SATISFACTION', 15)
(288, 'ESCAPE METROPOLIS', 25)
(289, 'EVE RESURRECTION', 7)
(290, 'EVERYONE CRAFT', 13)
(291, 'EVOLUTION ALTER', 12)
(292, 'EXCITEMENT EVE', 21)
(293, 'EXORCIST STING', 13)
(294, 'EXPECATIONS NATURAL', 18)
(295, 'EXPENDABLE STALLION', 28)
(296, 'EXPRESS LONELY', 13)
(297, 'EXTRAORDINARY CONQUERER', 6)
(298, 'EYES DRIVING', 19)
(299, 'FACTORY DRAGON', 17)
(300, 'FALCON VOLUME', 22)
(301, 'FAMILY SWEET', 29)
(302, 'FANTASIA PARK', 19)
(303, 'FANTASY TROOPERS', 26)
(304, 'FARGO GANDHI', 24)
(305, 'FATAL HAUNTED', 28)
(306, 'FEATHERS METAL', 11)
(307, 'FELLOWSHIP AUTUMN', 26)
(308, 'FERRIS MOTHER', 17)
(309, 'FEUD FROGMEN', 25)
(310, 'FEVER EMPIRE', 5)
(311, 'FICTION CHRISTMAS', 19)
(312, 'FIDDLER LOST', 10)
(313, 'FIDELITY DEVIL', 21)
(314, 'FIGHT JAWBREAKER', 22)
(315, 'FINDING ANACONDA', 12)
(316, 'FIRE WOLVES', 7)
(317, 'FIREBALL PHILADELPHIA', 21)
(319, 'FISH OPUS', 25)
(320, 'FLAMINGOS CONNECTICUT', 23)
(321, 'FLASH WARS', 13)
(322, 'FLATLINERS KILLER', 22)
(323, 'FLIGHT LIES', 12)
(324, 'FLINTSTONES HAPPINESS', 17)
(326, 'FLYING HOOK', 20)
(327, 'FOOL MOCKINGBIRD', 23)
(328, 'FOREVER CANDIDATE', 13)
(329, 'FORREST SONS', 18)
(330, 'FORRESTER COMANCHEROS', 27)
(331, 'FORWARD TEMPLE', 32)
(333, 'FREAKY POCUS', 17)
(334, 'FREDDY STORM', 23)
(335, 'FREEDOM CLEOPATRA', 5)
(336, 'FRENCH HOLIDAY', 17)
(337, 'FRIDA SLIPPER', 11)
(338, 'FRISCO FORREST', 9)
(339, 'FROGMEN BREAKING', 10)
(340, 'FRONTIER CABIN', 6)
(341, 'FROST HEAD', 30)
(342, 'FUGITIVE MAGUIRE', 11)
(343, 'FULL FLATLINERS', 5)
(344, 'FURY MURDER', 19)
(345, 'GABLES METROPOLIS', 19)
(346, 'GALAXY SWEETHEARTS', 18)
(347, 'GAMES BOWFINGER', 14)
(348, 'GANDHI KWAI', 17)
(349, 'GANGS PRIDE', 27)
(350, 'GARDEN ISLAND', 20)
(351, 'GASLIGHT CRUSADE', 16)
(352, 'GATHERING CALENDAR', 11)
(353, 'GENTLEMEN STAGE', 23)
(354, 'GHOST GROUNDHOG', 21)
(355, 'GHOSTBUSTERS ELF', 9)
(356, 'GIANT TROOPERS', 28)
(357, 'GILBERT PELICAN', 9)
(358, 'GILMORE BOILED', 28)
(360, 'GLASS DYING', 14)
(361, 'GLEAMING JAWBREAKER', 29)
(362, 'GLORY TRACY', 5)
(363, 'GO PURPLE', 20)
(364, 'GODFATHER DIARY', 8)
(365, 'GOLD RIVER', 14)
(366, 'GOLDFINGER SENSIBILITY', 24)
(367, 'GOLDMINE TYCOON', 27)
(368, 'GONE TROUBLE', 10)
(369, 'GOODFELLAS SALUTE', 31)
(370, 'GORGEOUS BINGO', 19)
(371, 'GOSFORD DONNIE', 8)
(372, 'GRACELAND DYNAMITE', 6)
(373, 'GRADUATE LORD', 16)
(374, 'GRAFFITI LOVE', 30)
(375, 'GRAIL FRANKENSTEIN', 10)
(376, 'GRAPES FURY', 22)
(377, 'GREASE YOUTH', 21)
(378, 'GREATEST NORTH', 29)
(379, 'GREEDY ROOTS', 14)
(380, 'GREEK EVERYONE', 17)
(381, 'GRINCH MASSAGE', 14)
(382, 'GRIT CLOCKWORK', 32)
(383, 'GROOVE FICTION', 18)
(384, 'GROSSE WONDERFUL', 8)
(385, 'GROUNDHOG UNCUT', 18)
(387, 'GUN BONNIE', 25)
(388, 'GUNFIGHT MOON', 24)
(389, 'GUNFIGHTER MUSSOLINI', 12)
(390, 'GUYS FALCON', 9)
(391, 'HALF OUTFIELD', 26)
(392, 'HALL CASSIDY', 16)
(393, 'HALLOWEEN NUTS', 10)
(394, 'HAMLET WISDOM', 14)
(395, 'HANDICAP BOONDOCK', 28)
(396, 'HANGING DEEP', 19)
(397, 'HANKY OCTOBER', 26)
(398, 'HANOVER GALAXY', 17)
(399, 'HAPPINESS UNITED', 6)
(400, 'HARDLY ROBBERS', 4)
(401, 'HAROLD FRENCH', 8)
(402, 'HARPER DYING', 20)
(403, 'HARRY IDAHO', 30)
(405, 'HAUNTED ANTITRUST', 6)
(406, 'HAUNTING PIANIST', 22)
(407, 'HAWK CHILL', 7)
(408, 'HEAD STRANGER', 22)
(409, 'HEARTBREAKERS BRIGHT', 20)
(410, 'HEAVEN FREEDOM', 18)
(411, 'HEAVENLY GUN', 7)
(412, 'HEAVYWEIGHTS BEAST', 23)
(413, 'HEDWIG ALTER', 12)
(414, 'HELLFIGHTERS SIERRA', 20)
(415, 'HIGH ENCINO', 22)
(416, 'HIGHBALL POTTER', 21)
(417, 'HILLS NEIGHBORS', 25)
(418, 'HOBBIT ALIEN', 31)
(420, 'HOLES BRANNIGAN', 15)
(421, 'HOLIDAY GAMES', 15)
(422, 'HOLLOW JEOPARDY', 10)
(423, 'HOLLYWOOD ANONYMOUS', 13)
(424, 'HOLOCAUST HIGHBALL', 17)
(425, 'HOLY TADPOLE', 9)
(426, 'HOME PITY', 14)
(427, 'HOMEWARD CIDER', 16)
(428, 'HOMICIDE PEACH', 22)
(429, 'HONEY TIES', 19)
(430, 'HOOK CHARIOTS', 13)
(431, 'HOOSIERS BIRDCAGE', 8)
(432, 'HOPE TOOTSIE', 18)
(433, 'HORN WORKING', 24)
(434, 'HORROR REIGN', 27)
(435, 'HOTEL HAPPINESS', 9)
(436, 'HOURS RAGE', 19)
(437, 'HOUSE DYNAMITE', 23)
(438, 'HUMAN GRAFFITI', 15)
(439, 'HUNCHBACK IMPOSSIBLE', 20)
(440, 'HUNGER ROOF', 13)
(441, 'HUNTER ALTER', 5)
(442, 'HUNTING MUSKETEERS', 15)
(443, 'HURRICANE AFFAIR', 24)
(444, 'HUSTLER PARTY', 22)
(445, 'HYDE DOCTOR', 26)
(446, 'HYSTERICAL GRAIL', 15)
(447, 'ICE CROSSING', 24)
(448, 'IDAHO LOVE', 17)
(449, 'IDENTITY LOVER', 13)
(450, 'IDOLS SNATCHERS', 30)
(451, 'IGBY MAKER', 19)
(452, 'ILLUSION AMELIE', 15)
(453, 'IMAGE PRINCESS', 14)
(454, 'IMPACT ALADDIN', 9)
(455, 'IMPOSSIBLE PREJUDICE', 14)
(456, 'INCH JET', 18)
(457, 'INDEPENDENCE HOTEL', 19)
(458, 'INDIAN LOVE', 16)
(459, 'INFORMER DOUBLE', 5)
(460, 'INNOCENT USUAL', 26)
(461, 'INSECTS STONE', 18)
(462, 'INSIDER ARIZONA', 20)
(463, 'INSTINCT AIRPORT', 18)
(464, 'INTENTIONS EMPIRE', 17)
(465, 'INTERVIEW LIAISONS', 20)
(466, 'INTOLERABLE INTENTIONS', 9)
(467, 'INTRIGUE WORST', 20)
(468, 'INVASION CYCLONE', 27)
(469, 'IRON MOON', 11)
(470, 'ISHTAR ROCKETEER', 7)
(471, 'ISLAND EXORCIST', 26)
(472, 'ITALIAN AFRICAN', 6)
(473, 'JACKET FRISCO', 18)
(474, 'JADE BUNCH', 18)
(475, 'JAPANESE RUN', 6)
(476, 'JASON TRAP', 24)
(477, 'JAWBREAKER BROOKLYN', 10)
(478, 'JAWS HARRY', 14)
(479, 'JEDI BENEATH', 19)
(480, 'JEEPERS WEDDING', 16)
(481, 'JEKYLL FROGMEN', 17)
(482, 'JEOPARDY ENCINO', 10)
(483, 'JERICHO MULAN', 17)
(484, 'JERK PAYCHECK', 20)
(485, 'JERSEY SASSY', 6)
(486, 'JET NEIGHBORS', 20)
(487, 'JINGLE SAGEBRUSH', 13)
(488, 'JOON NORTHWEST', 17)
(489, 'JUGGLER HARDLY', 32)
(490, 'JUMANJI BLADE', 8)
(491, 'JUMPING WRATH', 24)
(492, 'JUNGLE CLOSER', 9)
(493, 'KANE EXORCIST', 14)
(494, 'KARATE MOON', 23)
(496, 'KICK SAVANNAH', 20)
(498, 'KILLER INNOCENT', 6)
(499, 'KING EVOLUTION', 9)
(500, 'KISS GLORY', 22)
(501, 'KISSING DOLLS', 20)
(502, 'KNOCK WARLOCK', 24)
(503, 'KRAMER CHOCOLATE', 9)
(504, 'KWAI HOMEWARD', 23)
(505, 'LABYRINTH LEAGUE', 15)
(506, 'LADY STAGE', 17)
(507, 'LADYBUGS ARMAGEDDON', 6)
(508, 'LAMBS CINCINATTI', 10)
(509, 'LANGUAGE COWBOY', 11)
(510, 'LAWLESS VISION', 17)
(511, 'LAWRENCE LOVE', 13)
(512, 'LEAGUE HELLFIGHTERS', 17)
(513, 'LEATHERNECKS DWARFS', 7)
(514, 'LEBOWSKI SOLDIERS', 21)
(515, 'LEGALLY SECRETARY', 9)
(516, 'LEGEND JEDI', 9)
(517, 'LESSON CLEOPATRA', 7)
(518, 'LIAISONS SWEET', 22)
(519, 'LIBERTY MAGNIFICENT', 12)
(520, 'LICENSE WEEKEND', 7)
(521, 'LIES TREATMENT', 27)
(522, 'LIFE TWISTED', 10)
(523, 'LIGHTS DEER', 8)
(524, 'LION UNCUT', 18)
(525, 'LOATHING LEGALLY', 27)
(526, 'LOCK REAR', 16)
(527, 'LOLA AGENT', 24)
(528, 'LOLITA WORLD', 10)
(529, 'LONELY ELEPHANT', 15)
(530, 'LORD ARIZONA', 11)
(531, 'LOSE INCH', 27)
(532, 'LOSER HUSTLER', 15)
(533, 'LOST BIRD', 12)
(534, 'LOUISIANA HARRY', 17)
(535, 'LOVE SUICIDES', 20)
(536, 'LOVELY JINGLE', 14)
(537, 'LOVER TRUMAN', 10)
(538, 'LOVERBOY ATTACKS', 12)
(539, 'LUCK OPUS', 10)
(540, 'LUCKY FLYING', 13)
(541, 'LUKE MUMMY', 7)
(542, 'LUST LOCK', 15)
(543, 'MADIGAN DORADO', 10)
(544, 'MADISON TRAP', 15)
(545, 'MADNESS ATTACKS', 25)
(546, 'MADRE GABLES', 14)
(547, 'MAGIC MALLRATS', 7)
(548, 'MAGNIFICENT CHITTY', 8)
(549, 'MAGNOLIA FORRESTER', 11)
(550, 'MAGUIRE APACHE', 9)
(551, 'MAIDEN HOME', 24)
(552, 'MAJESTIC FLOATS', 17)
(553, 'MAKER GABLES', 10)
(554, 'MALKOVICH PET', 26)
(555, 'MALLRATS UNITED', 25)
(556, 'MALTESE HOPE', 22)
(557, 'MANCHURIAN CURTAIN', 15)
(558, 'MANNEQUIN WORST', 5)
(559, 'MARRIED GO', 30)
(560, 'MARS ROMAN', 19)
(561, 'MASK PEACH', 17)
(562, 'MASKED BUBBLE', 20)
(563, 'MASSACRE USUAL', 30)
(564, 'MASSAGE IMAGE', 12)
(565, 'MATRIX SNOWMAN', 9)
(566, 'MAUDE MOD', 8)
(567, 'MEET CHOCOLATE', 12)
(568, 'MEMENTO ZOOLANDER', 13)
(569, 'MENAGERIE RUSHMORE', 7)
(570, 'MERMAID INSECTS', 16)
(571, 'METAL ARMAGEDDON', 25)
(572, 'METROPOLIS COMA', 26)
(573, 'MICROCOSMOS PARADISE', 13)
(574, 'MIDNIGHT WESTWARD', 17)
(575, 'MIDSUMMER GROUNDHOG', 22)
(576, 'MIGHTY LUCK', 12)
(577, 'MILE MULAN', 13)
(578, 'MILLION ACE', 20)
(579, 'MINDS TRUMAN', 20)
(580, 'MINE TITANS', 19)
(581, 'MINORITY KISS', 12)
(582, 'MIRACLE VIRTUAL', 9)
(583, 'MISSION ZOOLANDER', 18)
(584, 'MIXED DOORS', 4)
(585, 'MOB DUFFEL', 12)
(586, 'MOCKINGBIRD HOLLYWOOD', 24)
(587, 'MOD SECRETARY', 11)
(588, 'MODEL FISH', 15)
(589, 'MODERN DORADO', 15)
(590, 'MONEY HAROLD', 20)
(591, 'MONSOON CAUSE', 9)
(592, 'MONSTER SPARTACUS', 15)
(593, 'MONTEREY LABYRINTH', 13)
(594, 'MONTEZUMA COMMAND', 9)
(595, 'MOON BUNCH', 29)
(596, 'MOONSHINE CABIN', 21)
(597, 'MOONWALKER FOOL', 13)
(598, 'MOSQUITO ARMAGEDDON', 15)
(599, 'MOTHER OLEANDER', 14)
(600, 'MOTIONS DETAILS', 16)
(601, 'MOULIN WAKE', 16)
(602, 'MOURNING PURPLE', 21)
(603, 'MOVIE SHAKESPEARE', 27)
(604, 'MULAN MOON', 13)
(605, 'MULHOLLAND BEAST', 7)
(606, 'MUMMY CREATURES', 16)
(608, 'MURDER ANTITRUST', 23)
(609, 'MUSCLE BRIGHT', 30)
(610, 'MUSIC BOONDOCK', 19)
(611, 'MUSKETEERS WAIT', 17)
(612, 'MUSSOLINI SPOILERS', 5)
(613, 'MYSTIC TRUMAN', 10)
(614, 'NAME DETECTIVE', 23)
(615, 'NASH CHOCOLAT', 15)
(616, 'NATIONAL STORY', 19)
(617, 'NATURAL STOCK', 13)
(618, 'NECKLACE OUTBREAK', 15)
(619, 'NEIGHBORS CHARADE', 19)
(620, 'NEMO CAMPUS', 14)
(621, 'NETWORK PEAK', 31)
(622, 'NEWSIES STORY', 7)
(623, 'NEWTON LABYRINTH', 17)
(624, 'NIGHTMARE CHILL', 25)
(625, 'NONE SPIKING', 27)
(626, 'NOON PAPI', 17)
(627, 'NORTH TEQUILA', 11)
(628, 'NORTHWEST POLISH', 20)
(629, 'NOTORIOUS REUNION', 14)
(630, 'NOTTING SPEAKEASY', 10)
(631, 'NOVOCAINE FLIGHT', 19)
(632, 'NUTS TIES', 9)
(633, 'OCTOBER SUBMARINE', 11)
(634, 'ODDS BOOGIE', 15)
(635, 'OKLAHOMA JUMANJI', 6)
(636, 'OLEANDER CLUE', 10)
(637, 'OPEN AFRICAN', 21)
(638, 'OPERATION OPERATION', 27)
(639, 'OPPOSITE NECKLACE', 13)
(640, 'OPUS ICE', 11)
(641, 'ORANGE GRAPES', 24)
(643, 'ORIENT CLOSER', 17)
(644, 'OSCAR GOLD', 25)
(645, 'OTHERS SOUP', 23)
(646, 'OUTBREAK DIVINE', 23)
(647, 'OUTFIELD MASSACRE', 20)
(648, 'OUTLAW HANKY', 14)
(649, 'OZ LIAISONS', 24)
(650, 'PACIFIC AMISTAD', 24)
(651, 'PACKER MADIGAN', 22)
(652, 'PAJAMA JAWBREAKER', 14)
(653, 'PANIC CLUB', 7)
(654, 'PANKY SUBMARINE', 15)
(655, 'PANTHER REDS', 15)
(656, 'PAPI NECKLACE', 8)
(657, 'PARADISE SABRINA', 18)
(658, 'PARIS WEEKEND', 14)
(659, 'PARK CITIZEN', 8)
(660, 'PARTY KNOCK', 13)
(661, 'PAST SUICIDES', 13)
(662, 'PATHS CONTROL', 10)
(663, 'PATIENT SISTER', 19)
(664, 'PATRIOT ROMAN', 16)
(665, 'PATTON INTERVIEW', 23)
(666, 'PAYCHECK WAIT', 16)
(667, 'PEACH INNOCENT', 14)
(668, 'PEAK FOREVER', 20)
(670, 'PELICAN COMFORTS', 26)
(672, 'PERFECT GROOVE', 17)
(673, 'PERSONAL LADYBUGS', 14)
(674, 'PET HAUNTING', 8)
(675, 'PHANTOM GLORY', 6)
(676, 'PHILADELPHIA WIFE', 23)
(677, 'PIANIST OUTFIELD', 21)
(678, 'PICKUP DRIVING', 16)
(679, 'PILOT HOOSIERS', 16)
(680, 'PINOCCHIO SIMON', 20)
(681, 'PIRATES ROXANNE', 21)
(682, 'PITTSBURGH HUNCHBACK', 12)
(683, 'PITY BOUND', 26)
(684, 'PIZZA JUMANJI', 7)
(685, 'PLATOON INSTINCT', 9)
(686, 'PLUTO OLEANDER', 16)
(687, 'POCUS PULP', 26)
(688, 'POLISH BROOKLYN', 18)
(689, 'POLLOCK DELIVERANCE', 18)
(690, 'POND SEATTLE', 19)
(691, 'POSEIDON FOREVER', 17)
(692, 'POTLUCK MIXED', 11)
(693, 'POTTER CONNECTICUT', 17)
(694, 'PREJUDICE OLEANDER', 20)
(695, 'PRESIDENT BANG', 7)
(696, 'PRIDE ALAMO', 16)
(697, 'PRIMARY GLASS', 27)
(698, 'PRINCESS GIANT', 27)
(699, 'PRIVATE DROP', 5)
(700, 'PRIX UNDEFEATED', 11)
(702, 'PULP BEVERLY', 30)
(703, 'PUNK DIVORCE', 8)
(704, 'PURE RUNNER', 16)
(705, 'PURPLE MOVIE', 13)
(706, 'QUEEN LUKE', 22)
(707, 'QUEST MUSSOLINI', 20)
(708, 'QUILLS BULL', 16)
(709, 'RACER EGG', 18)
(710, 'RAGE GAMES', 19)
(711, 'RAGING AIRPLANE', 13)
(714, 'RANDOM GO', 9)
(715, 'RANGE MOONWALKER', 27)
(716, 'REAP UNFAITHFUL', 16)
(717, 'REAR TRADING', 17)
(718, 'REBEL AIRPORT', 8)
(719, 'RECORDS ZORRO', 8)
(720, 'REDEMPTION COMFORTS', 20)
(721, 'REDS POCUS', 9)
(722, 'REEF SALUTE', 11)
(723, 'REIGN GENTLEMEN', 20)
(724, 'REMEMBER DIARY', 18)
(725, 'REQUIEM TYCOON', 19)
(726, 'RESERVOIR ADAPTATION', 10)
(727, 'RESURRECTION SILVERADO', 21)
(728, 'REUNION WITCHES', 20)
(729, 'RIDER CADDYSHACK', 11)
(730, 'RIDGEMONT SUBMARINE', 32)
(731, 'RIGHT CRANES', 10)
(732, 'RINGS HEARTBREAKERS', 15)
(733, 'RIVER OUTLAW', 20)
(734, 'ROAD ROXANNE', 19)
(735, 'ROBBERS JOON', 31)
(736, 'ROBBERY BRIGHT', 13)
(737, 'ROCK INSTINCT', 17)
(738, 'ROCKETEER MOTHER', 33)
(739, 'ROCKY WAR', 16)
(740, 'ROLLERCOASTER BRINGING', 10)
(741, 'ROMAN PUNK', 24)
(743, 'ROOM ROMAN', 20)
(744, 'ROOTS REMEMBER', 17)
(745, 'ROSES TREASURE', 28)
(746, 'ROUGE SQUAD', 18)
(747, 'ROXANNE REBEL', 19)

## Views

Uma *view* é uma tabela virtual, construida a partir de um comando `SELECT`. Por exemplo: execute o código a seguir.

In [10]:
db("""
DROP VIEW IF EXISTS movie_count;
""")

db("""
CREATE VIEW movie_count AS
    SELECT 
        title, COUNT(rental_id) as cnt
    FROM
        film
        LEFT OUTER JOIN inventory USING (film_id)
        LEFT OUTER JOIN rental USING (inventory_id)
    GROUP BY
        film_id
    ORDER BY
        cnt ASC;
""")

Executando query:
Executando query:

Agora temos uma *view* chamada `movie_count`. Vamos verificar que ela funcionou, listando as 30 primeiras linhas:

In [11]:
db("""
SELECT 
    *
FROM
    movie_count 
LIMIT 
    30
""")

Executando query:
('ALICE FANTASIA', 0)
('APOLLO TEEN', 0)
('ARGONAUTS TOWN', 0)
('ARK RIDGEMONT', 0)
('ARSENIC INDEPENDENCE', 0)
('BOONDOCK BALLROOM', 0)
('BUTCH PANTHER', 0)
('CATCH AMISTAD', 0)
('CHINATOWN GLADIATOR', 0)
('CHOCOLATE DUCK', 0)
('COMMANDMENTS EXPRESS', 0)
('CROSSING DIVORCE', 0)
('CROWDS TELEMARK', 0)
('CRYSTAL BREAKING', 0)
('DAZED PUNK', 0)
('DELIVERANCE MULHOLLAND', 0)
('FIREHOUSE VIETNAM', 0)
('FLOATS GARDEN', 0)
('FRANKENSTEIN STRANGER', 0)
('GLADIATOR WESTWARD', 0)
('GUMP DATE', 0)
('HATE HANDICAP', 0)
('HOCUS FRIDA', 0)
('KENTUCKIAN GIANT', 0)
('KILL BROTHERHOOD', 0)
('MUPPET MILE', 0)
('ORDER BETRAYED', 0)
('PEARL DESTINY', 0)
('PERDITION FARGO', 0)
('PSYCHO SHRUNK', 0)

In [12]:
db("""
SELECT 
    * 
FROM 
    movie_count 
ORDER BY
    cnt DESC
LIMIT 30
""")

Executando query:
('BUCKET BROTHERHOOD', 34)
('ROCKETEER MOTHER', 33)
('SCALAWAG DUCK', 32)
('RIDGEMONT SUBMARINE', 32)
('JUGGLER HARDLY', 32)
('GRIT CLOCKWORK', 32)
('FORWARD TEMPLE', 32)
('ZORRO ARK', 31)
('WIFE TURN', 31)
('TIMBERLAND SKY', 31)
('RUSH GOODFELLAS', 31)
('ROBBERS JOON', 31)
('NETWORK PEAK', 31)
('HOBBIT ALIEN', 31)
('GOODFELLAS SALUTE', 31)
('APACHE DIVINE', 31)
('WITCHES PANIC', 30)
('SUSPECTS QUILLS', 30)
('SHOCK CABIN', 30)
('RUGRATS SHAKESPEARE', 30)
('PULP BEVERLY', 30)
('MUSCLE BRIGHT', 30)
('MASSACRE USUAL', 30)
('MARRIED GO', 30)
('IDOLS SNATCHERS', 30)
('HARRY IDAHO', 30)
('GRAFFITI LOVE', 30)
('FROST HEAD', 30)
('ENGLISH BULWORTH', 30)
('DOGMA FAMILY', 30)

Agora suponha que alteramos a tabela `film`, mudando o nome do filme "DAZED PUNK" para "STONED PUNK".

**Atividade**: Do it.

In [13]:
db("""
-- SUA QUERY AQUI!
""")

Executando query:

Verifique agora a nossa *view*:

In [14]:
db("""
SELECT
    *
FROM
    movie_count
LIMIT
    30
""")

Executando query:
('ALICE FANTASIA', 0)
('APOLLO TEEN', 0)
('ARGONAUTS TOWN', 0)
('ARK RIDGEMONT', 0)
('ARSENIC INDEPENDENCE', 0)
('BOONDOCK BALLROOM', 0)
('BUTCH PANTHER', 0)
('CATCH AMISTAD', 0)
('CHINATOWN GLADIATOR', 0)
('CHOCOLATE DUCK', 0)
('COMMANDMENTS EXPRESS', 0)
('CROSSING DIVORCE', 0)
('CROWDS TELEMARK', 0)
('CRYSTAL BREAKING', 0)
('DAZED PUNK', 0)
('DELIVERANCE MULHOLLAND', 0)
('FIREHOUSE VIETNAM', 0)
('FLOATS GARDEN', 0)
('FRANKENSTEIN STRANGER', 0)
('GLADIATOR WESTWARD', 0)
('GUMP DATE', 0)
('HATE HANDICAP', 0)
('HOCUS FRIDA', 0)
('KENTUCKIAN GIANT', 0)
('KILL BROTHERHOOD', 0)
('MUPPET MILE', 0)
('ORDER BETRAYED', 0)
('PEARL DESTINY', 0)
('PERDITION FARGO', 0)
('PSYCHO SHRUNK', 0)

Como você pode ver, as views são tabelas virtuais que são **automaticamente atualizadas quando as tabelas originais são modificadas**.

Sempre que você realizar modificações nos dados, dê `commit` ou `rollback`. Ainda, evite executar múltiplas vezes as linhas de código que criem a conexão sem antes ter fechado a conexão ativa.

Vamos desfazer as alterações:

In [15]:
connection.rollback()

Conferindo:

In [16]:
db("""
SELECT
    *
FROM
    movie_count
LIMIT
    30
""")

Executando query:
('ALICE FANTASIA', 0)
('APOLLO TEEN', 0)
('ARGONAUTS TOWN', 0)
('ARK RIDGEMONT', 0)
('ARSENIC INDEPENDENCE', 0)
('BOONDOCK BALLROOM', 0)
('BUTCH PANTHER', 0)
('CATCH AMISTAD', 0)
('CHINATOWN GLADIATOR', 0)
('CHOCOLATE DUCK', 0)
('COMMANDMENTS EXPRESS', 0)
('CROSSING DIVORCE', 0)
('CROWDS TELEMARK', 0)
('CRYSTAL BREAKING', 0)
('DAZED PUNK', 0)
('DELIVERANCE MULHOLLAND', 0)
('FIREHOUSE VIETNAM', 0)
('FLOATS GARDEN', 0)
('FRANKENSTEIN STRANGER', 0)
('GLADIATOR WESTWARD', 0)
('GUMP DATE', 0)
('HATE HANDICAP', 0)
('HOCUS FRIDA', 0)
('KENTUCKIAN GIANT', 0)
('KILL BROTHERHOOD', 0)
('MUPPET MILE', 0)
('ORDER BETRAYED', 0)
('PEARL DESTINY', 0)
('PERDITION FARGO', 0)
('PSYCHO SHRUNK', 0)

### Vamos praticar

Verifique quantas vezes o filme "COWBOY DOOM" foi alugado usando a view `movie_count`

In [17]:
sql_ex03 = '''
SELECT movie_count.cnt
FROM movie_count
WHERE movie_count.title = 'COWBOY DOOM';
'''


db(sql_ex03)

Executando query:

(7,)

In [45]:
ia.sender(answer="sql_ex03", task="views", question="ex03", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex03', style=ButtonStyle()), Output()), _dom_classes=('widget…

Registre um aluguel do filme "COWBOY DOOM" (com o menor id possível), feito pelo funcionario "Jon Stephens" na loja id=1 para o cliente "JESSIE BANKS", na data '2019-01-01', com data de retorno '2019-01-08'.

In [46]:
sql_ex04 = """
SELECT film_id 
FROM film 
WHERE title = 'COWBOY DOOM';

SELECT customer_id 
FROM customer 
WHERE first_name = 'JESSIE' AND last_name = 'BANKS';

SELECT staff_id 
FROM staff 
WHERE first_name = 'Jon' AND last_name = 'Stephens';

SELECT inventory_id 
FROM inventory 
JOIN film ON inventory.film_id = film.film_id 
WHERE film.title = 'COWBOY DOOM' AND inventory.store_id = 1 
ORDER BY inventory_id ASC LIMIT 1;

"""

db(sql_ex04)

OperationalError: MySQL Connection not available.

In [41]:
db('''
INSERT INTO rental (rental_date, inventory_id, customer_id, return_date, staff_id)
VALUES ('2019-01-01', [inventory_id_obtido], [customer_id_obtido], '2019-01-08', [staff_id_obtido]);
''')

OperationalError: MySQL Connection not available.

In [21]:
ia.sender(answer="sql_ex04", task="views", question="ex04", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex04', style=ButtonStyle()), Output()), _dom_classes=('widget…

Verifique usando a view que a contagem de alugueis do filme subiu.

In [22]:
db("""
-- SUA QUERY AQUI!
""")

Executando query:

Faça o *rollback* desta alteração, para não modificar a nossa querida base de dados *sakila*.

In [23]:
connection.rollback()

## Tabelas temporárias

Tabelas temporárias podem ser criadas para ajudar nas tarefas de manipulação de dados. Essas tabelas existem apenas pela duração da sessão. Para criar uma tabela temporária, basta adicionar a palavra-chave `TEMPORARY` no momento da criação.

É comum criar tabelas temporárias à partir do resultado de comandos `SELECT`. Por exemplo, a seguinte query permite montar uma tabela temporária com os filmes que duram mais que 3 horas:

In [24]:
db("""
DROP TABLE IF EXISTS long_film
""")

db("""
CREATE TEMPORARY TABLE long_film 
    SELECT
        *
    FROM
        film
    WHERE
        film.length > 180;
""")

Executando query:
Executando query:

Podemos verificar que a tabela `long_film` agora existe:

In [25]:
db("DESCRIBE long_film")

Executando query:
('film_id', 'smallint unsigned', 'NO', '', '0', 'NULL')
('title', 'varchar(128)', 'NO', '', None, 'NULL')
('description', 'text', 'YES', '', None, 'NULL')
('release_year', 'year', 'YES', '', None, 'NULL')
('language_id', 'tinyint unsigned', 'NO', '', None, 'NULL')
('original_language_id', 'tinyint unsigned', 'YES', '', None, 'NULL')
('rental_duration', 'tinyint unsigned', 'NO', '', '3', 'NULL')
('rental_rate', 'decimal(4,2)', 'NO', '', '4.99', 'NULL')
('length', 'smallint unsigned', 'YES', '', None, 'NULL')
('replacement_cost', 'decimal(5,2)', 'NO', '', '19.99', 'NULL')
('rating', "enum('G','PG','PG-13','R','NC-17')", 'YES', '', 'G', 'NULL')
('special_features', "set('Trailers','Commentaries','Deleted Scenes','Behind the Scenes')", 'YES', '', None, 'NULL')
('last_update', 'timestamp', 'NO', '', 'CURRENT_TIMESTAMP', 'on update CURRENT_TIMESTAMP')

In [26]:
db("CALL sys.table_exists('sakila', 'long_film', @table_type);")
db("SELECT @table_type;")

Executando query:
Executando query:
('TEMPORARY',)

Muito embora ela não apareça na lista de tabelas: isso é um bug do MySQL. (https://dev.mysql.com/worklog/task/?id=648)

In [27]:
db("SHOW TABLES")

Executando query:
('actor',)
('actor_info',)
('address',)
('category',)
('city',)
('country',)
('customer',)
('customer_list',)
('film',)
('film_actor',)
('film_category',)
('film_list',)
('film_text',)
('inventory',)
('language',)
('movie_count',)
('nicer_but_slower_film_list',)
('payment',)
('rental',)
('sales_by_film_category',)
('sales_by_store',)
('staff',)
('staff_list',)
('store',)

Vamos listar o conteudo desta tabela:

In [28]:
db("SELECT title FROM long_film")

Executando query:
('ANALYZE HOOSIERS',)
('BAKED CLEOPATRA',)
('CATCH AMISTAD',)
('CHICAGO NORTH',)
('CONSPIRACY SPIRIT',)
('CONTROL ANTHEM',)
('CRYSTAL BREAKING',)
('DARN FORRESTER',)
('FRONTIER CABIN',)
('GANGS PRIDE',)
('HAUNTING PIANIST',)
('HOME PITY',)
('HOTEL HAPPINESS',)
('INTRIGUE WORST',)
('JACKET FRISCO',)
('KING EVOLUTION',)
('LAWLESS VISION',)
('LOVE SUICIDES',)
('MONSOON CAUSE',)
('MOONWALKER FOOL',)
('MUSCLE BRIGHT',)
('POND SEATTLE',)
('RECORDS ZORRO',)
('REDS POCUS',)
('RUNAWAY TENENBAUMS',)
('SATURN NAME',)
('SCALAWAG DUCK',)
('SEARCHERS WAIT',)
('SMOOCHY CONTROL',)
('SOLDIERS EVOLUTION',)
('SONS INTERVIEW',)
('SORORITY QUEEN',)
('STAR OPERATION',)
('SWEET BROTHERHOOD',)
('THEORY MERMAID',)
('WIFE TURN',)
('WILD APOLLO',)
('WORST BANGER',)
('YOUNG LANGUAGE',)

Vamos apagar a tabela `long_film`:

In [29]:
db("DROP TABLE long_film")

Executando query:

### Vamos praticar

- Crie uma tabela temporária `max_duration` que contém a duração máxima de filme para cada categoria. Apresente o id da categoria, seu nome e a duração máxima.

In [30]:
# Executamos o DROP apenas localmente, sem enviar ao servidor
db("DROP TABLE IF EXISTS max_duration")

sql_ex05 = """
-- SUA QUERY AQUI!
"""

db(sql_ex05)

Executando query:
Executando query:

In [31]:
ia.sender(answer="sql_ex05", task="views", question="ex05", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex05', style=ButtonStyle()), Output()), _dom_classes=('widget…

 - Verifique a tabela.

In [47]:
db("SELECT * FROM max_duration")

OperationalError: MySQL Connection not available.

In [ ]:
db("DESCRIBE max_duration")

- Agora use a tabela temporária para construir uma consulta com as categorias e seus respectivos filmes mais longos:

In [ ]:
db("""
SELECT
    category_id, name, film_id, title, length
FROM
    film
    INNER JOIN film_category USING (film_id)
    INNER JOIN max_duration USING (category_id)
WHERE
    length = max_len
""")

- delete a tabela temporária

In [ ]:
db("""
DROP TABLE max_duration
""")

## Variáveis

Podemos montar uma query que retorne um valor só e armazenar este valor em uma variável, para uso posterior em outras queries. Para isso vamos usar o prefixo '@' para indicar variáveis, e o comando `SELECT ... INTO`.

Exemplo: quais são os filmes "caros" da nossa base sakila? Vamos descobrir quais filmes custam mais que um desvio padrão acima da média de preços de locação.

Primeiro vamos calcular a média e o desvio padrão dos preços de aluguel:

In [ ]:
db("""
SELECT 
    AVG(rental_rate), 
    STDDEV(rental_rate)
INTO 
    @avg_rate, 
    @stddev_rate 
FROM
    film;
""")

Note que a query não retorna um resultado: o resultado foi armazenado direto nas variáveis `@avg_rate` e `@stddev_rate`. Vamos usar um `SELECT` sem tabelas para ver o resultado:

In [ ]:
db("SELECT @avg_rate, @stddev_rate")

Agora podemos selecionar os filmes caros!

In [ ]:
db("""
SELECT 
    title, rental_rate
FROM
    film
WHERE
    rental_rate > @avg_rate + @stddev_rate
LIMIT 10
""")

### Vamos praticar

Armazene na variável temporária `max_films` a quantidade de filmes feitos pelo ator ou atriz que mais participou de filmes.

In [ ]:
sql_ex06 = """
-- SUA QUERY AQUI!
"""

db(sql_ex06)

In [ ]:
db("""
SELECT @max_films
""")

In [ ]:
ia.sender(answer="sql_ex06", task="views", question="ex06", answer_type="pyvar")

## Operador `IN`

Suponha que desejamos listar todos os filmes dos 3 atores mais populares. Podemos começar listando os 3 atores mais populares:

In [ ]:
db("""
SELECT 
    actor_id, first_name, last_name, COUNT(film_id) AS num_films
FROM
    actor
    INNER JOIN film_actor USING (actor_id)
GROUP BY 
    actor_id
ORDER BY 
    num_films DESC
LIMIT 3
""")

Vamos criar uma tabela temporária para guardar a informação de `actor_id` desses atores:

In [ ]:
db("DROP TABLE IF EXISTS temp_pop_actors")
db("""
CREATE TEMPORARY TABLE temp_pop_actors
    SELECT first_name, last_name, actor_id FROM
        actor
        INNER JOIN film_actor USING (actor_id)
    GROUP BY 
        actor_id
    ORDER BY 
        COUNT(film_id) DESC
    LIMIT 3
""")
db("""
SELECT * from temp_pop_actors
""")

Por fim, vamos usar essa informação para listar os filmes dos atores populares:

In [ ]:
db("""
SELECT DISTINCT
    title
FROM
    film
    INNER JOIN film_actor USING (film_id)
WHERE
    actor_id IN (SELECT actor_id FROM temp_pop_actors);
""")

Note o uso de *subqueries*!

Não se esqueça de limpar tudo no final!

In [ ]:
db("DROP TABLE temp_pop_actors")

### Vamos praticar

Liste os atores (id, nome e sobrenome) que participaram dos 3 filmes mais rentáveis (aqueles que mais geraram receita para a locadora) ordenados pelo id do ator de modo crescente. Para isso, crie uma tabela temporária contendo o id do filme e a quantia total e use essa tabela para listar os atores.

In [ ]:
db("""
-- SUA QUERY AQUI!
""")
db("""
-- SUA QUERY AQUI!
""")

In [ ]:
sql_ex07 = ["""
-- SUA QUERY AQUI!
""",
"""
-- SUA QUERY AQUI!
"""]

ia.sender(answer="sql_ex07", task="views", question="ex07", answer_type="pyvar")

## Subqueries

Os tópicos discutidos acima poderiam ser resolvidos, em grande parte, com subqueries. As subqueries são queries `SELECT` criadas dentro de outras queries. 

Poderíamos ter usado subqueries nos mesmos lugares onde usamos tabelas temporárias, nos tópicos acima. Quando a subquery pode ser transformada em uma tabela temporária independente, separada da query exterior, dizemos que a subquery é **não-correlacionada** com a query exterior.

Usar subqueries não-correlacionadas é um tópico controverso: podemos sempre usar uma tabela temporária ou, ás vezes, pensar em um `JOIN` simples. Aliás, muitas vezes o otimizador de queries do banco de dados transformará a subquery em `JOIN`, se isso for vantajoso em termos de desempenho.

Uma subquery que depende da query externa (e portanto não pode ser separada em uma tabela temporária independente) é chamada de **subquery correlacionada**. Nestes casos podemos ter que executar a subquery para cada linha da query exterior!

### Vamos praticar

Vamos refazer a atividade dos atores dos filmes mais rentáveis, usando subqueries. 

Temos um problema: o MySQL não suporta ``LIMIT`` em subqueries com o operador ``IN``. Vamos investigar isso mais de perto. 

Em primeiro lugar faça uma tradução direta da implementação da atividade anterior trocando tabela temporária por subquery.

In [ ]:
try:
    db('''
-- SUA QUERY AQUI!
    ''')
except mysql.connector.ProgrammingError as e:
    print(f'ProgrammingError: {e}')

Ok, apareceu o problema. Mas considere que o problema original não precisava de IN desde o começo! Construa essa solução.

In [ ]:
sql_ex08 = """
-- SUA QUERY AQUI!
"""

db(sql_ex08)

In [ ]:
ia.sender(answer="sql_ex08", task="views", question="ex08", answer_type="pyvar")

# `UNION`

Quando duas tabelas tem **EXATAMENTE** as mesmas colunas, podemos concatená-las e formar uma grande tabela unificada usando o operador `UNION`. Por exemplo: suponha que desejamos montar uma lista dos nomes e sobrenomes de todos os clientes E de todos os funcionários. Eis uma solução possível:

In [ ]:
db("DROP TABLE IF EXISTS nomes_clientes")
db("""
CREATE TEMPORARY TABLE nomes_clientes 
    SELECT first_name, last_name FROM customer
""")

In [ ]:
db("DESCRIBE nomes_clientes")
db("SELECT * FROM nomes_clientes LIMIT 5")

In [ ]:
db("DROP TABLE IF EXISTS nomes_staff")
db("""
CREATE TEMPORARY TABLE nomes_staff 
    SELECT first_name, last_name FROM staff
""")

In [ ]:
db("DESCRIBE nomes_staff")
db("SELECT * FROM nomes_staff LIMIT 5")

In [ ]:
db("DROP TABLE IF EXISTS nomes_all")
db("""
CREATE TEMPORARY TABLE nomes_all 
    (SELECT * FROM nomes_staff)
    UNION 
    (SELECT * FROM nomes_clientes)
""")

In [ ]:
db("DESCRIBE nomes_all")
db("SELECT * FROM nomes_all LIMIT 5")

In [ ]:
db("DROP TABLE IF EXISTS nomes_clientes")
db("DROP TABLE IF EXISTS nomes_staff")
db("DROP TABLE IF EXISTS nomes_all")

**Vamos praticar:** refaça o exemplo acima mas use *subqueries* ao invés de *temp tables*. Ordene de forma ascendente por first_name e last_name.

In [ ]:
sql_ex09 = """
-- SUA QUERY AQUI!
"""

db(sql_ex09)

In [ ]:
ia.sender(answer="sql_ex09", task="views", question="ex09", answer_type="pyvar")

## Desafios!

Faça uma lista de filmes que tenham mais de dois atores cujo nome inicia com a mesma letra do título do filme! Apresente o nome e a quantidade de atores. Ordene pelo id do filme. Dica: Pesquie a função `LEFT`

In [ ]:
sql_ex10 = """
-- SUA QUERY AQUI!
"""
db(sql_ex10)

In [ ]:
ia.sender(answer="sql_ex10", task="views", question="ex10", answer_type="pyvar")

Semana do "DAN HARRIS": liste os clientes (nome e sobrenome) que nunca assistiram um filme do ator "DAN HARRIS" ou que já assistiram mas a ultima vez em que assistiram um filme dele foi antes de '2005-06-01'. Ordene pelo nome e sobrenome do cliente.

Considerem que a pessoa pode ter assistido um filme de Dan Harris se:

- Devolveu em 2005-06-01 ou depois
- Alugou em 2005-06-01 ou depois
- Alugou antes de 2005-06-01 e ainda não devolveu

In [ ]:
sql_ex11 = """
-- SUA QUERY AQUI!
"""
db(sql_ex11)

In [ ]:
ia.sender(answer="sql_ex11", task="views", question="ex11", answer_type="pyvar")

- Faça uma consulta que retorne, para cada ator, a seguinte informação:

| first_name | last_name | filmes por categoria |
|--|--|--|
| PENELOPE | GUINESS | Animation: ANACONDA CONFESSIONS; Children: LANGUAGE COWBOY; Classics: COLOR PHILADELPHIA, WESTWARD SEABISCUIT; Comedy: VERTIGO NORTHWEST; Documentary: ACADEMY DINOSAUR; Family: KING EVOLUTION, SPLASH GUMP; Foreign: MULHOLLAND BEAST; Games: BULWORTH COMMANDMENTS, HUMAN GRAFFITI; Horror: ELEPHANT TROJAN, LADY STAGE, RULES HUMAN; Music: WIZARD COLDBLOODED; New: ANGELS LIFE, OKLAHOMA JUMANJI; Sci-Fi: CHEAPER CLYDE; Sports: GLEAMING JAWBREAKER |
| NICK | WAHLBERG | Action: BULL SHAWSHANK; Animation: FIGHT JAWBREAKER; Children: JERSEY SASSY; Classics: DRACULA CRYSTAL, GILBERT PELICAN; Comedy: MALLRATS UNITED, RUSHMORE MERMAID; Documentary: ADAPTATION HOLES; Drama: WARDROBE PHANTOM; Family: APACHE DIVINE, CHISUM BEHAVIOR, INDIAN LOVE, MAGUIRE APACHE; Foreign: BABY HALL, HAPPINESS UNITED; Games: ROOF CHAMPION; Music: LUCKY FLYING; New: DESTINY SATURDAY, FLASH WARS, JEKYLL FROGMEN, MASK PEACH; Sci-Fi: CHAINSAW UPTOWN, GOODFELLAS SALUTE; Travel: LIAISONS SWEET, SMILE EARRING |
| etc | etc | etc |

Ordene pelo nome e sobrenome do ator.

Dica: use `GROUP_CONCAT` para agrupar todas as strings de uma coluna em uma string só, e `CONCAT` para unir strings particulares.

In [ ]:
sql_ex12 = """
-- SUA QUERY AQUI!
"""

db(sql_ex12)

In [ ]:
ia.sender(answer="sql_ex12", task="views", question="ex12", answer_type="pyvar")

## Conclusão

Façamos uma pausa para apreciar quão longe estamos: já conseguimos criar nossas tabelas, inserir informação, removê-la, atualizá-la, e consultar nossa base de maneiras bem sofisticadas! Vimos desde `SELECT` simples até buscas mais complexas envolvendo várias etapas de processamento para obter o dado desejado.

Por hoje é só, feche sua conexão e bom descanso!

In [ ]:
connection.close()

## Conferir Notas

Confira se as notas na atividade são as esperadas!

Primeiro na atividade atual!

In [ ]:
ia.grades(by="TASK", task="views")

In [ ]:
ia.grades(task="views")

In [ ]:
ia.grades(by="task")