# Prática com base `classicmodels`

Nesta aula iremos praticar **SQL** e fixar os conteúdos aprendidos nas últimas aulas.

## Instalação da base

Vamos utilizar a base de dados exemplo disponível em https://www.mysqltutorial.org/wp-content/uploads/2018/03/mysqlsampledatabase.zip. Faça o download e execute o script `mysqlsampledatabase.sql` para gerar a base de dados.

## Como resolver os exercícios?

Indicamos que crie uma cópia da base de dados em sua máquina (passo anterior). Utilize o MySQL Workbench ou o conector para testar as queries. Quando estiver bastante certo de que a resposta está correta, faça a submissão para o servidor.

## Import das bibliotecas

Vamos realizar o import das bibliotecas.

In [1]:
import mysql.connector
from functools import partial
import os
import insperautograder.jupyter as ia
from dotenv import load_dotenv

E vamos criar nosso HELPER de conexão com o banco! Perceba que, uma vez configurado o `.env` não precisaremos mais informar usuários, senhas e URLs!

In [2]:
load_dotenv(override=True)

def get_connection_helper():

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            print("Executando query:")
            cursor.execute(query, args)
            for result in cursor:
                print(result)

    connection = mysql.connector.connect(
        host=os.getenv("MD_DB_SERVER"),
        user=os.getenv("MD_DB_USERNAME"),
        password=os.getenv("MD_DB_PASSWORD"),
        database="classicmodels",
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

### Tarefas e Notas
Vamos conferir as tarefas e notas

In [3]:
ia.tasks()

|    | Atividade    | De                        | Até                       |
|---:|:-------------|:--------------------------|:--------------------------|
|  0 | newborn      | 2024-02-01 03:00:00+00:00 | 2024-05-30 03:00:00+00:00 |
|  1 | select01     | 2024-02-08 03:00:00+00:00 | 2024-02-19 02:59:59+00:00 |
|  2 | ddl          | 2024-02-22 03:00:00+00:00 | 2024-02-27 02:59:59+00:00 |
|  3 | dml          | 2024-02-26 03:00:00+00:00 | 2024-03-03 02:59:59+00:00 |
|  4 | group_having | 2024-02-29 03:00:00+00:00 | 2024-03-12 02:59:59+00:00 |
|  5 | agg_join     | 2024-02-29 03:00:00+00:00 | 2024-03-05 02:59:59+00:00 |
|  6 | views        | 2024-02-29 03:00:00+00:00 | 2024-03-20 02:59:59+00:00 |
|  7 | sql_review1  | 2024-03-11 03:00:00+00:00 | 2024-03-20 02:59:59+00:00 |
|  8 | permissions  | 2024-03-18 03:00:00+00:00 | 2024-03-26 02:59:59+00:00 |

In [4]:
ia.grades(by="TASK")

|    | Tarefa       |   Nota |
|---:|:-------------|-------:|
|  0 | agg_join     |   10   |
|  1 | ddl          |   10   |
|  2 | dml          |    0   |
|  3 | group_having |   10   |
|  4 | newborn      |   10   |
|  5 | permissions  |    0   |
|  6 | select01     |   10   |
|  7 | sql_review1  |    8.5 |
|  8 | views        |   10   |

In [5]:
ia.grades(task="sql_review1")

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | sql_review1 | ex01        |      1 |     10 |
|  1 | sql_review1 | ex02        |      1 |     10 |
|  2 | sql_review1 | ex03        |      1 |     10 |
|  3 | sql_review1 | ex04        |      1 |     10 |
|  4 | sql_review1 | ex05        |      1 |     10 |
|  5 | sql_review1 | ex06        |      1 |     10 |
|  6 | sql_review1 | ex07        |      2 |     10 |
|  7 | sql_review1 | ex08        |      3 |     10 |
|  8 | sql_review1 | ex09        |      2 |     10 |
|  9 | sql_review1 | ex10        |      1 |     10 |
| 10 | sql_review1 | ex11        |      3 |     10 |
| 11 | sql_review1 | ex12        |      3 |      0 |

**Exercício 1**: Crie uma query que conte a quantidade de registros na tabela `offices`.

In [6]:
sql_ex01 = """
SELECT COUNT(*) FROM offices;
"""

db(sql_ex01)

Executando query:
(7,)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [7]:
ia.sender(answer="sql_ex01", task="sql_review1", question="ex01", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex01', style=ButtonStyle()), Output()), _dom_classes=('widget…

#### Conferir a nota
Se obter um **correto**, confira se a nota foi atualizada:

In [8]:
ia.grades(task="sql_review1")

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | sql_review1 | ex01        |      1 |     10 |
|  1 | sql_review1 | ex02        |      1 |     10 |
|  2 | sql_review1 | ex03        |      1 |     10 |
|  3 | sql_review1 | ex04        |      1 |     10 |
|  4 | sql_review1 | ex05        |      1 |     10 |
|  5 | sql_review1 | ex06        |      1 |     10 |
|  6 | sql_review1 | ex07        |      2 |     10 |
|  7 | sql_review1 | ex08        |      3 |     10 |
|  8 | sql_review1 | ex09        |      2 |     10 |
|  9 | sql_review1 | ex10        |      1 |     10 |
| 10 | sql_review1 | ex11        |      3 |     10 |
| 11 | sql_review1 | ex12        |      3 |      0 |

**Exercício 2**: Crie uma query que retorne todos os países diferentes considerando os registros da tabela de consumidores. Ainda, retorne em ordem crescente pelo nome do país.

In [9]:
sql_ex02 = """
SELECT DISTINCT country FROM customers
ORDER BY country ASC;
"""

db(sql_ex02)

Executando query:
('Australia',)
('Austria',)
('Belgium',)
('Canada',)
('Denmark',)
('Finland',)
('France',)
('Germany',)
('Hong Kong',)
('Ireland',)
('Israel',)
('Italy',)
('Japan',)
('Netherlands',)
('New Zealand',)
('Norway',)
('Philippines',)
('Poland',)
('Portugal',)
('Russia',)
('Singapore',)
('South Africa',)
('Spain',)
('Sweden',)
('Switzerland',)
('UK',)
('USA',)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [10]:
ia.sender(answer="sql_ex02", task="sql_review1", question="ex02", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex02', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 3**: Crie uma query que CONTE quantos são os países diferentes (sem repetição) considerando os registros da tabela de consumidores.

In [11]:
sql_ex03 = """
SELECT COUNT(DISTINCT country) FROM customers;

"""

db(sql_ex03)

Executando query:
(27,)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [12]:
ia.sender(answer="sql_ex03", task="sql_review1", question="ex03", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex03', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 4**: Crie uma query que retorne o **Nome do consumidor** e **telefone** de todos os consumidores que possuem a substring `Ltd` em seu nome. Ainda, retorne em ordem decrescente por nome.

In [13]:
sql_ex04 = """
SELECT customerName, phone FROM customers
WHERE customerName LIKE '%Ltd%' 
ORDER BY customerName DESC;
"""

db(sql_ex04)

Executando query:
('Vida Sport, Ltd', '0897-034555')
('UK Collectables, Ltd.', '(171) 555-2282')
('Toms Spezialitäten, Ltd', '0221-5554327')
('Tokyo Collectables, Ltd', '+81 3 3584 0555')
('Signal Collectibles Ltd.', '4155554312')
('Royal Canadian Collectables, Ltd.', '(604) 555-4555')
('Mini Gifts Distributors Ltd.', '4155551450')
('Mini Creations Ltd.', '5085559555')
("Men 'R' US Retailers, Ltd.", '2155554369')
('Extreme Desk Decorations, Ltd', '04 499 9555')
('Dragon Souveniers, Ltd.', '+65 221 7555')
('Double Decker Gift Stores, Ltd', '(171) 555-7555')
('Cramer Spezialitäten, Ltd', '0555-09555')
('Corrida Auto Replicas, Ltd', '(91) 555 22 82')
('Australian Collectables, Ltd', '61-9-3844-6555')
('Anton Designs, Ltd.', '+34 913 728555')
("Anna's Decorations, Ltd", '02 9936 8555')

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [14]:
ia.sender(answer="sql_ex04", task="sql_review1", question="ex04", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex04', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 5**: Considerando os **produtos** e **categorias** cadastradas, crie uma query que retorne:
- o **id** do produto
- o **nome** do produto
- o **id da categoria** do produto
- a **descrição** da categoria cadastrada

Restrições:
- Ordene pelo **nome** do produto
- Exiba apenas os primeiros `5` registros
- Retorne as colunas na ordem requisitada
- As três primeiras colunas deverão manter o mesmo nome dos campos na base. A quarta coluna (**descrição** da categoria cadastrada) deverá se chamar `productLineDescription`.

In [15]:
sql_ex05 = """
SELECT productCode, productName, productLine, textDescription as productLineDescription FROM products
JOIN orderdetails USING(productCode)
JOIN productlines USING(productLine)
GROUP BY productCode
ORDER BY productName
LIMIT 5; 
"""

db(sql_ex05)

Executando query:

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [16]:
ia.sender(answer="sql_ex05", task="sql_review1", question="ex05", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex05', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 6**: Crie uma query que retorne o **código** e **nome** dos produtos sem nenhuma venda.

In [17]:
sql_ex06 = """
SELECT productCode, productName FROM products
LEFT OUTER JOIN orderdetails USING(productCode)
WHERE quantityOrdered IS NULL;
"""

db(sql_ex06)

Executando query:

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [18]:
ia.sender(answer="sql_ex06", task="sql_review1", question="ex06", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex06', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 7**: Crie uma query que retorne o **código**, **nome** e **total vendido** dos cinco produtos com maior valor total vendido.

**Requisitos**:
- As duas primeiras colunas devem seguir a mesma nomenclatura dos campos na tabela
- A coluna com a informação do **total vendido** (valor) deve se chamar `totalOrdered`
- Retorne em ordem decrescente por **total vendido**

In [19]:
sql_ex07 = """
SELECT productCode,productName, SUM(priceEach * quantityOrdered) as totalOrdered FROM products
JOIN orderdetails USING(productCode)
GROUP BY productCode
ORDER BY totalOrdered DESC
LIMIT 5;
"""

db(sql_ex07)

Executando query:

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [20]:
ia.sender(answer="sql_ex07", task="sql_review1", question="ex07", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex07', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 8**: Considere a descrição do exercício anterior, com a seguinte alteração:

**Requisitos**:
- Retorne em ordem **crescente** por **total vendido**

In [21]:
sql_ex08 = """
SELECT * FROM (SELECT productCode, productName, SUM(priceEach * quantityOrdered) as totalOrdered FROM products
    JOIN orderdetails USING(productCode)
    GROUP BY productCode
    ORDER BY totalOrdered DESC LIMIT 5) AS bers
ORDER BY totalOrdered ASC;
"""

db(sql_ex08)

Executando query:

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [22]:
ia.sender(answer="sql_ex08", task="sql_review1", question="ex08", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex08', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 9**: Crie uma query que retorne o **código**, **nome** e **total vendido** dos quatro produtos com **menor** valor total vendido.

**Requisitos**:
- As duas primeiras colunas devem seguir a mesma nomenclatura dos campos na tabela
- A coluna com a informação do **total vendido** (valor) deve se chamar `totalOrdered`
- Retorne em ordem crescente por **total vendido**
- Se um produto não teve vendas, teve aparecer o valor `0.00`

In [23]:
sql_ex09 = """
SELECT productCode, productName, COALESCE(SUM(priceEach * quantityOrdered),0.0) as totalOrdered FROM products
LEFT OUTER JOIN orderdetails USING(productCode)
GROUP BY productCode
ORDER BY totalOrdered ASC LIMIT 4;
"""

db(sql_ex09)

Executando query:

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [24]:
ia.sender(answer="sql_ex09", task="sql_review1", question="ex09", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex09', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 10**: Crie uma query que retorne o **código**, **nome** e **total vendido** dos  produtos com valor total vendido maior que 190.000,00 (cem mil).

**Requisitos**:
- As duas primeiras colunas devem seguir a mesma nomenclatura dos campos na tabela
- A coluna com a informação do **total vendido** (valor) deve se chamar `totalOrdered`
- Retorne em ordem **crescente** por **total vendido**

In [25]:
sql_ex10 = """
SELECT productCode,productName, SUM(priceEach * quantityOrdered) as totalOrdered FROM products
JOIN orderdetails USING(productCode)
GROUP BY productCode
HAVING totalOrdered > 190000
ORDER BY totalOrdered ASC;
"""

db(sql_ex10)

Executando query:

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [26]:
ia.sender(answer="sql_ex10", task="sql_review1", question="ex10", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex10', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 11**: Crie uma query que retorne o valor unitário médio dos produtos vendidos em cada mês de cada ano.

Sua query deve retornar as colunas:
- `ano`: valor inteiro que representa o ano. Ex: 2002, 2003, 2004
- `mes`: valor inteiro que representa o mês. Ex: 1, 2, ..., 12
- `productCode`: código do produto
- `productName`: descrição do produto
- `averagePrice`: preço médio unitário

**Requisitos**:
- Retorne apenas os dados de 2003 e 2004
- Retorne apenas as informações do primeiro trimestre do ano
- Retorne apenas os produtos com a substring `ford` no nome do produto
- Produtos sem venda em algum mês ou sem vendas de forma geral não devem ser retornados
- Ordene por múltiplos critérios, nesta ordem:
    - `ano`
    - `mes`
    - `productName`
    
**Obs**:
- Aqui, o valor médio unitário é por venda, desconsiderando a **quantidade** unitária do produto dentro da venda.

In [27]:
sql_ex11 = """

SELECT YEAR(orderDate) as ano, MONTH(orderDate) as mes, productCode, productName, AVG(od.priceEach) FROM orderdetails od
JOIN products USING(productCode) 
JOIN orders USING(orderNumber)
GROUP BY ano, mes , productCode
HAVING (ano LIKE '2003' OR ano LIKE '2004') AND productName LIKE '%ford%' AND mes < 4
ORDER BY YEAR(orderDate), MONTH(orderDate), productName;
"""

db(sql_ex11)

Executando query:

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [28]:
ia.sender(answer="sql_ex11", task="sql_review1", question="ex11", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex11', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 12**: Crie uma query que crie uma tabela temporária `salesproductlines` contendo informações sobre o quanto a empresa deixou de ganhar devido a vendas **canceladas**. A informação deve estar agrupada por **linha de produto** (tabela `productlines`).

Sua query deve retornar as colunas:
- `productLine`: texto com a linha do produto
- `qtProductCode`: quantos produtos diferentes da linha de produto deixaram de ser vendidos
- `qtTotalOrdered`: total de quantas unidades deixaram de ser vendidas
- `totalLost`: faturamento perdido, considerando o valor unitário na venda e quantas unidades do produto estavam para ser vendidas

**Requisitos**:
- Linhas de produtos sem vendas devem ser retornadas com quantidade `0` e valores `0.00`
- Ordene por `totalLost` de forma decrescente

In [33]:
sql_ex12 = """
    CREATE TEMPORARY TABLE IF NOT EXISTS salesproductlines AS
    SELECT productLine, COUNT(DISTINCT CASE WHEN status LIKE 'Cancelled' THEN productCode ELSE NULL END) as qtProductCode , 
    SUM(CASE WHEN status LIKE 'Cancelled' THEN quantityOrdered ELSE 0 END) as qtTotalOrdered, 
    SUM(CASE WHEN status LIKE 'Cancelled' THEN priceEach * quantityOrdered ELSE 0 END) as totalLost FROM productlines
    LEFT JOIN products USING(productLine)
    LEFT JOIN orderdetails USING(productCode)
    LEFT JOIN orders USING(orderNumber)
    GROUP BY productLine
    ORDER BY totalLost DESC;
"""

db(sql_ex12)

Executando query:

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [34]:
ia.sender(answer="sql_ex12", task="sql_review1", question="ex12", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex12', style=ButtonStyle()), Output()), _dom_classes=('widget…

### Conferindo as Notas

Conferindo as Notas em cada exercício de **todas** as atividades disponíveis:

Podemos filtrar por uma atividade:

In [35]:
ia.grades(task="sql_review1")

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | sql_review1 | ex01        |      1 |     10 |
|  1 | sql_review1 | ex02        |      1 |     10 |
|  2 | sql_review1 | ex03        |      1 |     10 |
|  3 | sql_review1 | ex04        |      1 |     10 |
|  4 | sql_review1 | ex05        |      1 |     10 |
|  5 | sql_review1 | ex06        |      1 |     10 |
|  6 | sql_review1 | ex07        |      2 |     10 |
|  7 | sql_review1 | ex08        |      3 |     10 |
|  8 | sql_review1 | ex09        |      2 |     10 |
|  9 | sql_review1 | ex10        |      1 |     10 |
| 10 | sql_review1 | ex11        |      3 |     10 |
| 11 | sql_review1 | ex12        |      3 |     10 |

Nota por atividade (tarefa):

In [36]:
ia.grades(by="TASK")

|    | Tarefa       |   Nota |
|---:|:-------------|-------:|
|  0 | agg_join     |     10 |
|  1 | ddl          |     10 |
|  2 | dml          |      0 |
|  3 | group_having |     10 |
|  4 | newborn      |     10 |
|  5 | permissions  |      0 |
|  6 | select01     |     10 |
|  7 | sql_review1  |     10 |
|  8 | views        |     10 |

Podendo filtrar apenas uma atividade:

In [37]:
ia.grades(by="TASK", task="sql_review1")

|    | Tarefa      |   Nota |
|---:|:------------|-------:|
|  0 | sql_review1 |     10 |